# Array

### Basic operation supported by an Array 
    - Traverse
    - Insert
    - Delete
    - Search 
    - Update

### Traversing the array

In [2]:
from array import *
arrayName = array('i', [1,2,3,4,5,6]) # writing array

for x in arrayName:
    print(x)

1
2
3
4
5
6

In [4]:
# accessing array element by index

from array import *

array1 = array('i',[10,20,30,40,50])

print(array1[0]) # accsing by index 0 position

print(array1[3]) # accesing the value on 3rd position

10
40

### Insertation Operation

In [7]:
# insert operation is to element at begining to array.

from array import *

array1 = array('i', [10, 20, 30, 40, 50])

array1.insert(1, 60) # inserting the element 60 at index 1 between the other elements in array

for x in array1:
    print(x)

10
60
20
30
40
50

### Deletion operation

In [9]:
# deleting the element from the array.
# To delete the element from array we use remove function 

from array import *

array1 = array('i', [10, 20, 30, 40, 50])

array1.remove(40) # deleting the element 

for x in array1:
    print(x)

10
20
30
50

### Search Operation

In [13]:
# Search the element based on indexing value

from array import *

array1 = array('i', [10, 20, 30, 40, 50])

print(array1[0]) # search based on index
print(array1.index(20)) # search based on element

10
1

### Update Operation

In [14]:
# So update operation perform to update element based on given index

from array import *

array1 = array('i', [10, 20, 30, 40, 50])

array1[1] = 90 # updating the element based on given index

for x in array1:
    print(x)

10
90
30
40
50

# 2D Array

In [1]:
from array import *

T = [[11, 12, 5, 2], [15, 15, 94, 8], [10, 54, 40, 4], [2, 4, 7, 0]]

print(T[0])

print(T[1][2])

[11, 12, 5, 2]
94

In [3]:
from array import *

T = [[11, 12, 5, 2], [15, 15, 94, 8], [10, 54, 40, 4], [2, 4, 7, 0]]

for r in T:
    for c in r:
        print(c, end = " ")
    print()

11 12 5 2
15 15 94 8
10 54 40 4
2 4 7 0

Inserting values

In [4]:
T.insert(2, [0, 40, 4, 12, 9])
for r in T:
    for c in r:
        print(c, end = " ")
    print()

11 12 5 2
15 15 94 8
0 40 4 12 9
10 54 40 4
2 4 7 0

Updating values

In [5]:
T[2] =  [11, 9]
T[0][2] = 8

for r in T:
    for c in r:
        print(c, end = " ")
    print()

11 12 8 2
15 15 94 8
11 9
10 54 40 4
2 4 7 0

Deleting Values

In [6]:
from array import *
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

del T[3]

for r in T:
    for c in r:
        print(c, end = " ")
    print()

11 12 5 2
15 6 10
10 8 12 5